* {
  transform-origin: inherit ;
}

body {
  background: #260026;
  font-family: "Open Sans";
  text-align: center;
  color: white;
}

div {
  position: relative;
}

h1, h2, h3, h4, p { 
  font-family: "Raleway";
}

h1 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 16px;
  font-weight: 700;
}

h3 {
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
}

h4 {
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
}

p { 
  font-size: 16px;
  font-weight: 300;
  font-family: "Open Sans";
}

.progress-bar{
  background-color: grey;
}

.progress {
  margin: 0 auto;
  height: 5px;
  background-color: lightgrey;
  box-shadow: 0px;
  -webkit-box-shadow: 0px;
}

button {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  margin: 2px 5px;
}

.col-lg-2 {
  -webkit-transition: all 1s ease;  
  -moz-transition: all 1s ease;  
  -o-transition: all 1s ease;  
  -ms-transition: all 1s ease;  
  transition: all 1s ease;
}

.scaleTL {
  transform-origin: top left;
}

.scaleTR {
  transform-origin: top right;
}

.scaleBL {
  transform-origin: bottom left;
}

.scaleBR {
  transform-origin: bottom left;
}

.transform-active {
  transform: scale(0);
}

.type {
  background-color: white;
  color: black;
  padding: 10px 20px 20px 20px;
  margin: 10px;
  clear: both;
  overflow: hidden;
}

.grids {
  padding: 10px;
}


