* {
  transform-origin: inherit ;
}

body {
  background: #1F1133;
  font-family: "Open Sans";
  text-align: center;
  color: #FDBD00;
}

div {
  position: relative;
}

h1, h2, h3, h4, p { 
  font-family: "Raleway";
}

h1 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  font-weight: 300;
}

h4 {
  font-size: 20px;
  font-weight: 300;
}

p { 
  font-size: 16px;
  font-weight: 300;
  font-family: "Open Sans";
}

.progress-bar{
  background-color: #F9543E;
}

.progress {
  margin: 0 auto;
  height: 5px;
  background-color: white;
  box-shadow: 0px;
  -webkit-box-shadow: 0px;
}

button {
  background-color: #3B2A56;
  border: none;
  border-radius: 5px;
  color: #FDBD00;
  margin: 2px 5px;
}

.col-lg-2 {
  -webkit-transition: all 1s ease;  
  -moz-transition: all 1s ease;  
  -o-transition: all 1s ease;  
  -ms-transition: all 1s ease;  
  transition: all 1s ease;
  max-width: 100%;
  overflow: hidden;
}

.circlebg {
    margin: 0 20%;
    display: block;
    width: 60%;
    height: auto;
    background: #56435B;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-position: center center;
    background-repeat:no-repeat;  
    overflow: hidden;  
}

.circlebg img {
    width: 70%;
    padding-top: 15%; 
}

.type {
  background-color: #1F1133;
  color: #FDBD00;
  padding: 10px 20px 20px 20px;
  margin: 10px;
  clear: both;
  overflow: hidden;
}

.grids {
  padding: 10px;
  display: block;
  width: 175px;
}

.volume, .delta {
  display: none;
}

.empty { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
  background-image: url('../assets/empty.gif');
}  

.page {
  margin-top: 100px;
  text-align: left;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.8);
  transition: opacity 500ms;
  z-index:2;
}

.popup {
  padding: 20px 0px 20px 20px; 
  border-radius: 5px;
  width: 100%;
  position: relative;
  transition: all 5s ease-in-out;
  text-align: left;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  opacity: .9;
  color: orange;
}

.popup .close:hover {
  color: orange;
}
.popup .content {
  max-height: 100%;
  overflow: auto;
}

.homeb{
  width: 90%;
  margin: 5%;
}
