* {
  transform-origin: inherit ;
}

body {
  background: white;
  font-family: "Open Sans";
  text-align: center;
}

div {
  position: relative;
}

h1, h2, h3, h4, p { 
  color: black;
  font-family: "Raleway";
}

h1 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 16px;
  font-weight: 700;
}

h3 {
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
}

h4 {
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
}

p { 
  font-size: 16px;
  font-weight: 300;
  font-family: "Open Sans";
}

.progress-bar{
  background-color: grey;
}

.progress {
  margin: 0 auto;
  height: 5px;
  background-color: lightgrey;
  box-shadow: 0px;
  -webkit-box-shadow: 0px;
}

button {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  margin: 2px 5px;
}

.col-lg-2 {
  -webkit-transition: all 2s ease;  
  -moz-transition: all 2s ease;  
  -o-transition: all 2s ease;  
  -ms-transition: all 2s ease;  
  transition: all 2s ease;
}

.transform-active {
  opacity: 0;
}
